extends ../../pug/layout
include ../../pug/includes

append style
  include ../../pug/favicons

append style
  <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap&subset=cyrillic" rel="stylesheet">

block title
  title Home

block content
  body
    div.root