.data-table {
  background-color: rgba(255, 255, 255, .5);

  th,
  td {
    text-align: center;
    vertical-align: middle !important;
    border-color: rgba(137, 137, 137, 0.36) !important;

    @media (max-width: 480px) {
      padding: 10px !important;
      font-weight: bold;
    }
  }

  th {
    @media (max-width: 480px) {
      font-size: 10px;
    }
  }

  td {
    @media (max-width: 480px) {
      font-size: 12px;
    }
  }
}